name: pr

on: [pull_request]

jobs:
  build:
    uses: wittdennis/pipelines/.github/workflows/container-image-build.yaml@1.13.13
    with:
      image-name: homeassistant-otbr
      create-artifacts: false
      arm64-build-args: |
        ARCH=aarch64
