name: publish-image

on:
  release:
    types: published

jobs:
  publish:
    uses: wittdennis/pipelines/.github/workflows/container-image-publish.yaml@1.13.0
    with:
      image-name: homeassistant-otbr
      arm64-build-args: |
        ARCH=aarch64
    secrets:
      registry-password: ${{ secrets.DOCKER_REGISTRY_TOKEN }}
